@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row">

            <div>
                <button @onclick="ToggleNavMenu" style=" width:160px;">Toggle <br /> Menu</button>
            </div>

            <h5>Navbar content here</h5>

            <div>
                <button @onclick="ToggleRightBar" style=" width:160px;">Toggle <br /> Menu</button>
            </div>

        </div>


        <div class="grid-container">
            <div class="sidebar @NavMenuCssClass">
                <NavMenu />
            </div>

            <article class="content px-4 w-100">
                @Body
            </article>

            <div class="toolbar @NavbarCssClass">
                <BlazorLayout.Client.Pages.Toolbar></BlazorLayout.Client.Pages.Toolbar>
            </div>
        </div>

    </main>
</div>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool collapseNavMenu = false;
    private bool collapseRightbar = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string? NavbarCssClass => collapseRightbar ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleRightBar()
    {
        collapseRightbar = !collapseRightbar;
        
    }
    }
